// Faculty Cluster Parallax Lists ("pl")

.cluster-pl-title {
  background: url('../img/gold-dots-horizontal.png') center center repeat-x;
  display: block;
  font-size: 34px;
  margin-bottom: 50px;
  margin-top: 30px;

  @media (min-width: $screen-lg-min) {
    font-size: 36px;
  }

  @media (max-width: $screen-sm-max) {
    background-position: center bottom;
    font-size: 32px;
    margin-bottom: 40px;
  }

  span {
    background-color: #fff;
    display: inline-block;
    margin: 0 20px 0 0; // Force at least 20px of visible dotted line (in case title is multiline)
    padding: 0 20px 0 0;

    @media (max-width: $screen-sm-max) {
      background-color: transparent;
      margin: 0;
      padding: 0 0 15px;
    }
  }
}

.cluster-pl-cta {
  margin-bottom: 40px;
  margin-top: -40px;
  position: relative;
  z-index: 4;
}

.cluster-pl-sidebar-title {
  color: #787878;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}

.cluster-pl-sidebar-list {
  @include list-unstyled;
  font-weight: 500;

  li {
    margin-bottom: 10px;
  }
}

.cluster-pl-desc,
.cluster-pl-sidebar-list {
  margin-bottom: 70px;
}


// Basic Faculty Cluster list

.cluster-short h3 {
  height: 70px;
  line-height: 25px;
  margin: 15px 0 10px;

  a {
    color: #000;
    font-family: $font-family-sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
  }
}

.cluster-short-desc {
  font-family: $font-family-sans-serif-alt;
  font-size: 13px;
  font-weight: 400;
  height: 190px;
  line-height: 18px;
}

.cluster-short-inline-list {
  font-family: $font-family-sans-serif-alt;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0 0;

  dt,
  dd {
    display: inline;
  }

  dt {
    font-weight: 500;
  }
}

.faculty-cluster-sidebar-container {
  font-family: $font-family-sans-serif-alt;
  margin-top: -20px;
  padding: 28px 28px 18px;

  a {
    color: #fff;
    text-decoration: underline;
  }

  ul {
    @include list-unstyled;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    li {
      margin-bottom: 7px;

      a {
        color: $ucf-gold;
        text-decoration: underline;
      }
    }

    @media (max-width: $screen-sm-max) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media (max-width: $screen-sm-max) {
    margin: 0;
  }
}

.cluster-short-buttons-container {
  background: url('../img/gold-dots-horizontal.png') left top repeat-x;
  display: block;
  margin-bottom: 50px;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }

  .cluster-short-btn {
    border: 0;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 500px;
    margin: 20px 10px 0 0;
    padding: 10px 14px;
    text-align: left;
    text-transform: capitalize;
    width: 140px;

    @media (max-width: $screen-xs-max) {
      margin: 20px 10px 0;
      text-align: center;
    }
  }
}

.callout.faculty-profile-callout {
  blockquote {
    border: 0;
    font-family: $font-family-sans-serif;
    font-size: 34px;
    font-style: italic;
    font-weight: 100;
    line-height: 36px;
    padding-left: 0;
    padding-top: 0;
    width: 45%;
  }

  cite {
    font-size: 22px;
    font-style: normal;
    font-weight: 100;

    strong {
      font-weight: bold;
    }
  }
}
