#footer {
}

.footer-stripe {
  background: $light-gold;
  color: #333;
  font-family: $font-family-serif;
  font-size: 12px;
  padding: 10px 0 15px;

  h3 {
    font-family: $font-family-sans-serif-alt;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
  }

  a {
    color: $link-color-alt;
    text-decoration: none;

    &:hover {
      color: $link-color-alt-hover;
    }
  }

  ul {
    @include list-unstyled;
    list-style-type: none;
    margin-left: 0;

    li {
      float: left;
      font-family: $font-family-sans-serif-alt;
      line-height: 15px;
      padding: 4px 0;
      width: 50%;
    }

    a {
      color: #262626;
      font-size: 12px;
      line-height: 15px;
    }

    a:hover {
      color: #262626;
      text-decoration: underline;
    }
  }
}

// Footer menus
.footer-menu,
.footer-contact {
  font-size: 10px;
  letter-spacing: .8px;

  a {
    color: $text-color;

    &:hover,
    &:active,
    &:focus {
      color: #e50606;
    }
  }
}

.footer-menu {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 50px;

  li {
    padding-bottom: 8px;
    padding-right: 0;

    &:before {
      content: '|';
      padding-right: 8px;
    }

    &:first-child {
      &:before {
        content: '';
        padding-right: 0;
      }
    }
  }

  a {
    color: #000;
  }
}

.social-menu {
  li {
    padding-left: 3px;
    padding-right: 3px;
  }

  a {
    @include sprite($url: '../img/footer-social.png', $url-r: '../img/footer-social-r.png', $width: 164px, $height: 30px);
    height: 35px;
    width: 32px;

    &[href*="facebook"] {
      background-position: 1px 0;
    }

    &[href*="twitter"] {
      background-position: -66px 1px;
    }

    &[href*="flickr"] {
      background-position: -32px 0;
    }

    &[href*="youtube"] {
      background-position: -100px 0;
    }

    &[href*="google"] {
      background-position: -133px 0;
    }
  }
}

.footer-contact {
  font-family: $font-family-serif;
  margin-bottom: 30px;

  address {
    margin-bottom: 5px;
  }
}