#footer {
}

.footer-stripe {
  background: $light-gold;
  color: #333;
  font-family: $font-family-serif;
  font-size: 12px;
  padding: 10px 0 15px;

  h3 {
    font-family: $font-family-sans-serif-alt;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0;
    text-transform: uppercase;
  }

  a {
    color: $link-color-alt;
    text-decoration: none;

    &:hover {
      color: $link-color-alt-hover;
    }
  }

  ul {
    @include list-unstyled;
    list-style-type: none;
    margin-left: 0;

    li {
      float: left;
      font-family: $font-family-sans-serif-alt;
      line-height: 15px;
      padding: 4px 0;
      width: 50%;
    }

    a {
      color: #262626;
      font-size: 12px;
      line-height: 15px;
    }

    a:hover {
      color: #262626;
      text-decoration: underline;
    }
  }
}

#footer-menu {
  @include list-unstyled;
  list-style-type: none;
  margin-left: 0;
  text-align: center;
  padding: 20px 0 0;

  li {
    display: inline-block;
    font-family: $font-family-sans-serif-alt;
    font-size: 10px;
    letter-spacing: .8px;
    line-height: 20px;
    padding: 4px 0;
  }

  li:after {
    content: '|';
    margin-left: 2px;
  }

  .last:after {
    content: '';
  }

  a {
    color: #262626;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }

  a:hover {
    color: #262626;
    text-decoration: underline;
  }
}

#subfooter {
  clear: both;
  font-family: $font-family-serif;
  font-size: 10px;
  letter-spacing: .8px;
  text-align: center;
  line-height: 20px;

  a {
    color: #262626;
  }
}

#social-menu-wrap {
  clear: right;
  float: right;
  left: -50%;
  margin: 0;
  padding: 10px 0 15px;
  position: relative;
}

.ie7 #social-menu-wrap {
  width: 252px;
}

#social-menu {
  left: 50%;
  list-style-type: none;
  position: relative;
}


#social-menu {
  li {
    float: left;
    margin-right: 5px;
  }

  li:first-child {
    margin-left: -18px;
  }

  li a {
    background: url('../img/spritesheet.png') -1px -35px no-repeat;
    display: block;
    height: 32px;
    text-indent: -9999px;
    width: 35px;
  }

  li a[href*="facebook"] {
    background-position: -1px -35px;
  }

  li a[href*="twitter"] {
    background-position: -68px -34px;
  }

  li a[href*="flickr"] {
    background-position: -32px -35px;
  }

  li a[href*="youtube"] {
    background-position: -101px -35px;
  }

  li a[href*="google"] {
    background-position: -134px -35px;
  }
}

.ie7 #social-menu li:first-child {
  margin-left: 0;
}