.page-content {
  font-family: $font-family-sans-serif-alt;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;

  strong,
  b {
    font-family: $font-family-sans-serif;
    font-weight: 400;
  }

  .page-side-content {
    color: #333;
    font-family: $font-family-sans-serif;

    strong {
      color: #7d7d7d;
      font-weight: 700;
      text-transform: uppercase;
    }

    ul {
      @include list-unstyled;
    }

    li {
      color: #999;
      font-family: $font-family-serif;
      font-size: 16px;
      font-style: italic;
      margin-top: 10px;

      strong {
        color: #000;
        display: block;
        font-family: $font-family-sans-serif;
        font-style: normal;
        text-transform: none;
      }
    }
  }
}

.page-header {
  border: 0;
  font-family: $font-family-sans-serif;
  font-size: 28px;
  margin: 40px 0 30px;
  padding: 0;
  text-transform: uppercase;
}


// Template-specific overrides

.page-template-template-featured-title {
  .parallax-content {
    h1 {
      color: #fff;
      font-size: 6vw;
      letter-spacing: -.02em;
      margin: 0 auto;
      padding: 0 $grid-gutter-width / 2;
      position: absolute;
      text-align: center;
      top: 40%;
      transform: translate(0, -60%);
      vertical-align: middle;
      width: 100%;

      @media (min-width: $screen-lg-min) {
        font-size: 5.75vw;
      }

      @media (max-width: $screen-sm-max) {
        font-size: 6.5vw;
      }

      @media (max-width: $screen-xs-max) {
        top: 30%;
        transform: translate(0, -70%);
      }
    }
  }

  .open-positions-container {
    margin-top: 0;
  }

  &.ie8 {
    .parallax-content h1 {
      font-size: 75px;
      top: 30%;
    }
  }
}
