// Parallax setup borrowed from Materialize framework
// http://materializecss.com/parallax.html

.parallax-container,
.parallax-container-inner {
  height: 360px;
  position: relative;
}

.parallax-container-inner {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  img {
    bottom: 0;
    display: none;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%);
    z-index: 2;

    &.visible {
      display: block;
    }
  }
}

.parallax-content {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 3;
}
