// Parallax setup borrowed from Materialize framework
// http://materializecss.com/parallax.html

.parallax-container,
.parallax-container-inner {
  height: 360px;
  position: relative;

  @media (max-width: $screen-sm-max) {
    height: 300px;
  }

  @media (max-width: $screen-xs-max) {
    height: auto;
    min-height: 300px;
  }
}

.parallax-container {
  @include body-prefix('.ie8') {
    overflow: hidden;
  }

  &.parallax-featured-header {
    &,
    .parallax-container-inner {
      height: 500px;

      @media (max-width: $screen-sm-max) {
        height: 300px;
      }

      @media (max-width: $screen-xs-max) {
        height: auto;
        min-height: 300px;
      }
    }
  }
}

.parallax-container-inner {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @include body-prefix('.ie8') {
    display: table;
    height: 200%;
    left: -50%;
    top: -50%;
    width: 200%;
  }
}

.parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  @include body-prefix('.ie8') {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    bottom: 0;
    display: none;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    -ms-transform: translateX(-50%);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%);
    z-index: 2;

    &.visible {
      display: block;
    }

    @include body-prefix('.ie8') {
      bottom: auto;
      display: block;
      left: auto;
      margin: 0 auto;
      max-width: none;
      position: relative;
    }
  }
}

.parallax-content {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 3;

  @media (max-width: $screen-xs-max) {
    min-height: inherit;
  }

  .parallax-featured-header & {
    h1 {
      color: #fff;
      filter: Shadow(Color=#666666,
          Direction=135,
          Strength=5);
      font-size: 55px;
      letter-spacing: -.02em;
      margin: 0 auto;
      padding: 0 $grid-gutter-width / 2;
      position: absolute;
      text-align: center;
      text-shadow: 3px 4px 0 rgba(0, 0, 0, .34),
        -1px -1px 0 rgba(0, 0, 0, .09),
        1px -1px 0 rgba(0, 0, 0, .09),
        -1px 1px 0 rgba(0, 0, 0, .09),
        1px 1px 0 rgba(0, 0, 0, .09);
      text-transform: uppercase;
      top: 46%;
      transform: translate(0, -60%);
      vertical-align: middle;
      width: 100%;

      @media (max-width: $screen-md-max) {
        font-size: 5vw;
      }

      @media (max-width: $screen-xs-max) {
        top: 34%;
        transform: translate(0, -70%);
      }

      @include body-prefix('.ie8') {
        font-size: 75px;
        top: 30%;
      }
    }
  }
}
